.list {
    margin-bottom: 20px;

    .required {
        &::after {
            content: "*";
            font-size: 14px;
            padding-left: 4px;
            color: var(--ant-color-error);
        }
    }

    .formItem {
        .operateBtn {
            visibility: hidden;
        }

        &:hover {
            .operateBtn {
                visibility: visible;
            }
        }
    }

    &:nth-last-child(1) {
        margin-bottom: 0;
    }
}

.list :global(.ant-collapse-header) {
    background: var(--color-fill-1);
    margin-bottom: 6px;
}

.list :global(.ant-collapse-expand-icon) {
    color: var(--color-text-2);
}

.list :global(.ant-collapse) {
    background: var(--color-bg-1);
}

.list :global(.ant-collapse-item) {
    background: var(--color-bg-1) !important;
    border: none;

    &:first-child {
        :global(.ant-collapse-header) {
            border-radius: 0 !important;
        }
    }
}

.list :global(.ant-descriptions-item-label) {
    background: var(--color-fill-1) !important;
    padding: 10px !important;
    width: 150px !important;
    vertical-align: top !important;
}

.list :global(.ant-collapse-content-box) {
    padding: 0 !important;
}

.list :global(.ant-descriptions) {
    margin-bottom: 18px;
}

.list :global(.ant-descriptions-item-content) {
    width: 300px !important;
    padding: 10px !important;
    vertical-align: top !important;
}

.list :global(.ant-btn-link) {
    margin: 0 !important;
    padding: 0 !important;
}

.panelHeader {
    border: none !important;
}
