@font-face {
  font-family: "iconfont"; /* Project id 5044891 */
  src: url('iconfont.woff2?t=1762407419240') format('woff2'),
       url('iconfont.woff?t=1762407419240') format('woff'),
       url('iconfont.ttf?t=1762407419240') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianpan:before {
  content: "\e65b";
}

.icon-delete:before {
  content: "\e615";
}

.icon-suofang:before {
  content: "\e660";
}

.icon-right-turn:before {
  content: "\e66b";
}

.icon-xuanzhuantupian:before {
  content: "\e6ad";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-zhankai:before {
  content: "\e74c";
}

.icon-jiazai--kuai:before {
  content: "\e8b7";
}

.icon-a-zengjiatianjiajiahaoduo:before {
  content: "\e63e";
}

.icon-yuyin-:before {
  content: "\e7bd";
}

.icon-xiangji:before {
  content: "\e610";
}

.icon-tupian:before {
  content: "\e612";
}

.icon-wode3-weixuanzhong:before {
  content: "\e61f";
}

.icon-wode3-xuanzhong:before {
  content: "\e620";
}

.icon-zhanghaoyuanquan:before {
  content: "\e603";
}

.icon-txxg:before {
  content: "\e60e";
}

.icon-liaotianduihua-xianxing:before {
  content: "\e8bc";
}

.icon-youxiang:before {
  content: "\e7b1";
}

.icon-jiaoseguanli:before {
  content: "\e60f";
}

.icon-zuzhijigou:before {
  content: "\e63f";
}

.icon-tongzhi:before {
  content: "\e689";
}

.icon-gongzuotai:before {
  content: "\e63b";
}

.icon-shiqu:before {
  content: "\e89a";
}

.icon-xingming:before {
  content: "\e723";
}

.icon-chazhaotubiao:before {
  content: "\e654";
}

.icon-Close:before {
  content: "\e6e1";
}

.icon-xiangshangjiantouquan:before {
  content: "\e655";
}

.icon-fuzhi:before {
  content: "\e67e";
}

.icon-shuaxin:before {
  content: "\e687";
}

.icon-weixin:before {
  content: "\e625";
}

.icon-yonghuming:before {
  content: "\e60a";
}

.icon-mima:before {
  content: "\e60d";
}

.icon-zhengyan:before {
  content: "\e731";
}

.icon-sandian:before {
  content: "\e94e";
}

.icon-duihualishi:before {
  content: "\e67d";
}

.icon-yuyan:before {
  content: "\e6cc";
}

.icon-jiqirentouxiang:before {
  content: "\e605";
}

.icon-fangda:before {
  content: "\e604";
}

